#project-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.top-pick-container {
  display: flex;
  justify-content: space-between;
}

.top-pick-container h3 {
  color: var(--color-red);
  padding: 0 2rem;
}
.top-pick-container :last-child {
  color: var(--color-black);
  font-weight: 400;
  font-size: 0.9rem;
  cursor: pointer;
}
