.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.section-title {
  border-bottom: 3px solid var(--color-red);
}

.main-container {
  display: flex;
  gap: 20px;
}

.movie-info-container {
  flex: 2;
  min-width: 0;
}

.movie-poster {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.movie-synop {
  font-size: 1rem;
  letter-spacing: 0.8px;
}

.movie-detail {
  position: relative;
}

.selectbox {
  position: absolute;
  right: 0;
}

.pledge-detail p:first-child {
  font-size: 1rem;
  font-weight: bold;
}

.pledge-detail p :last-child {
  font-size: 0.6rem;
  font-weight: bold;
  color: #ccc;
}
.error-message {
  color: var(--color-red);
  margin-top: 10px;
  font-weight: bold;
}
.end-message {
  flex: 1;
}
.end-message span {
  display: block;
  text-align: center;
  font-size: 12px;
  color: var(--color-red);
}

.movie-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* media query */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .pledge-side-bar {
    position: static;
    height: auto;
    overflow-y: visible;
    margin-top: 20px;
  }
}
