
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;

}



.main-container {
  display: flex;
  gap: 20px;
}

.movie-info-container {
  flex: 2;
  min-width: 0;
}

.movie-poster {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.movie-detail{
  position: relative;
}

.selectbox{
  position: absolute;
  right:0
  }

.error-message {
  color: var(--color-red),
  margin-top: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .pledge-side-bar {
    position: static;
    height: auto;
    overflow-y: visible;
    margin-top: 20px;
  }
}
