.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

form {
  align-items: center;
  justify-content: center;
}

.login-container h2 {
  font-size: 1.8rem;
  color: #333333;
  margin-bottom: 20px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555555;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease-in-out;
}

.login-container input:focus {
  border-color: var(--color-red);
  outline: none;
}

.login-container button {
  background-color: var(--color-red);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.login-container button:hover {
  background-color: var(--color-red);
}

/* 에러 메시지 스타일 */
.error-message {
  font-size: 0.9rem;
  margin-bottom: 10px;
  text-align: center;
}

.signup-container {
  margin-top: 30px;
  text-align: center;
}
