@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap");

:root {
  --color-text: #222831;
  --color-background: #fcfefe;
  --color-red: #ff3f00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-text);
  letter-spacing: 0.4px;
}
body {
  background-color: var(--color-background);
  padding: 0 3rem;
}
